:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  padding: 50px 100px;
}
.card{
  width: 100%;
  height: 100%;
}
.cnx{
  background-color: #fd7e14;
  color: white;
  width: 210px;
}
