<div class="row w-100 mx-0 auth-page">
  <div class="col-md-12 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/menutium.webP">
        </div>
        <div class="col-md-6">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2">Menu<span>Tium</span></a>
            <h5 class="text-muted fw-normal mb-4"></h5>
            <form class="forms-sample" (ngSubmit)="Login()" [formGroup]="form">
              <div class="mb-3">
                <input type="text" class="form-control" id="Utilisateur"
                  name="Utilisateur" formControlName="Utilisateur"
                  placeholder="Login" [ngClass]="{ 'is-invalid' : submitted &&
                  f.Utilisateur.errors}">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="Login"
                  name="Login" formControlName="Login" placeholder="Mot de passe" [ngClass]="{ 'is-invalid' : submitted &&
                  f.Login.errors}">
              </div>
              <hr>
              <div>
                <button type="submit" class="btn me-2 mb-2 mb-md-0 cnx">Connexion</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
