<div class="card">
  <div class="card-body">
    <h6 class="card-title"><i class="feather icon-codepen"></i> Caisse
      Principale</h6>
    <div class="table-responsive mt-5">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Nombre Livreurs</th>
            <th>Part Livreur</th>
            <th>Avance</th>
            <th>Retour</th>
            <th>Commission</th>
            <th>Reçu Totale</th>
            <th>Part Entreprise</th>
            <th>Net Reçu</th>
          </tr>
        </thead>
        <tbody *ngFor="let c of caisse | paginate:{
          itemsPerPage:TableSize,
          currentPage:Page,
          totalItems:Count }; let i= index">
          <tr>
            <td>{{c.DateAjout | date:'longDate'}}</td>
            <td>{{c.NBRLivreur}} Livreurs</td>
            <td>{{c.Partlivreur.toFixed(2)}} TND</td>
            <td>{{c.Avance.toFixed(2)}} TND</td>
            <td>{{c.Retour.toFixed(2)}} TND</td>
            <td>{{c.Commission.toFixed(2)}} TND</td>
            <td>{{c.Totalrecu.toFixed(2)}} TND</td>
            <td>{{c.PartEntreprise.toFixed(2)}} TND</td>
            <td>{{c.RecuNet.toFixed(2)}} TND</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-3">
        <pagination-controls previousLabel="Prev" nextLabel="Next"
          (pageChange)="OnTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
